/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    }

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    }

.fa-solid {
    color: var(--main-color);
    }

body {
    display: flex;
    justify-content: center;
    }
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    }
/****** Header ***********/
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.logo {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    }
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    }
.nav ul li {
    margin-left: 20px;
    padding-top: 8px;
    border-top: 2px solid #ffffff ;
    }
.nav ul li:hover {
    border-color:  #0065FC;
    color: #0065FC;
    }
.nav ul li:active {
    border-color: #0065FC;
    color: #0065FC;
    }
/****** Post header ***********/
form{
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    margin: 13px;
    }
label {
    background-color: #F2F2F2;
    width: 35px;
    height: 25px;
    padding-left: 25px;
    padding-top: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
#marseille {
    border: #F2F2F2;
    text-align: center;
    color: black;
    font-weight: bold;
    }
#Rechercher {
    background-color: #0065FC;
    color:#F2F2F2;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: #FFFFFF;
    padding: 16px 15px 16px;
    width: 100px;
    height: 3px;
    border-left:3px solid #0065FC;
    }
#loupe {
    display: none;
    }
.container-filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
    gap: 5px;
    flex-wrap: wrap;
    }
.contenu-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 25px;
    flex-wrap: wrap;
    }
.title-filtre{
    font-size: 13px;
    }
#economique, #familiale, #romantique, #pepite{
    border: 2px solid rgb(239, 239, 239);
    gap: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 25px ;
    color:black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    }
#economique:hover, #familiale:hover, #romantique:hover, #pepite:hover{
    background-color: #DEEBFF;
    }

a {
    color: inherit;
    text-decoration: none;
    }

.section-title {
    margin: 0;
    font-size: 22px;
    }

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

.card img {
    object-fit: cover;
    }

.card-title {
    font-size: 16px;
    }

.euro {
    font-weight: 700;
    }

.neutral-star {
    color: var(--main-bg-color)
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    }

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    }

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    }
.hebergements h2 {
    margin-top: 5px;
    }
.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: auto; 
    box-sizing: border-box;
    }
.card-1 {
    width: 100%;
    height: 167px;
    background-color: white;
    border-radius: 10% 10% 10% 10%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    box-sizing: content-box;
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.1)); 
    }
.card-1 img {
    border-radius: 10% 10% 0 0;
    width: 100%;
    height: 100px;    
    }
.card-title-1 {
    font-size: 14px;
    margin-top: 3px;
    }
.card-subtitle-1 {
    font-size: 10px;
    margin-top: 3px;
    }
.card-rating-1 {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 10px;
    }
.card-container span {
    font-weight: bold;
    }
    
.card-title {
    font-size: 16px;
    }
#afficherPlus {
        margin-top: 20px;
        font-weight: bold;
    }

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/
.activite {
    width: 100%;
    }
.activite h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.activites-cards{
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.activite a {
    width: 100%;
    height: 270px;
    border: 2px solid rgb(250, 249, 249);
    border-radius: 10%;

}
.activite img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin: auto;
    border-top-right-radius: 10%;
    border-top-left-radius: 10% ;
}
.activite-subtitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;
    }
/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 5%;
    padding-right: 20px;
}
footer ul, li {
    list-style: none;
}
footer span{
    font-weight: bold;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
/****** Header ***********/
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        }
    .logo {
        text-align: center;
        }
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        }
    .nav ul li {
        list-style: none;
        margin-left: 5%;
        padding-right: 10px;
        }
/****** Post Header ***********/
    .container-filtres {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 15px;
        gap: 5px;
        flex-wrap: wrap;
        }   
    .contenu-filtre{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        }
    #economique, #familiale, #romantique, #pepite{
        border: 2px solid rgb(239, 239, 239);
        gap: 5px;
        width: 140px;
        height: 30px;
        }
    .hebergements-and-populaires {
        flex-direction: column;
        }
/****** Hebergements ***********/
    .hebergements {
        width: 100%;
        margin: auto;
        box-sizing: content-box;
        margin-top: 20px;
        padding: 2px;
        padding-bottom: 30px;
        }      
    .hebergements-cards {
        width: 100%;
        box-sizing: border-box;
        } 
    .card-1 {
        width: 100%;
        height: 200px;
        margin: auto;
        border-radius: 20px;
        padding: 5px;
        gap:20px;
        filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.1));
        }
    .card-1 img {
        width: 100%;
        object-fit: cover;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        }
    .card-title-1 {
        font-size: 14px;
        margin-top: 3px;
        }
    .card-subtitle-1 {
        font-size: 10px;
        margin-top: 5px;
        }
    .card-rating-1 {
        font-size: 10px;
        margin-top: 5px;
        }

/****** Populaires ***********/
    .populaires {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .populaires-cards a {
        width: 30%;
        gap: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
/****** Activités ***********/
.activite {
    width: 100%;
    }
.activite h2 {
    margin-left: 15px;
}
/* .activites-cards{
    width: 100%;
    margin: auto;
    gap: 15px;
    display: flex;
    } */
/* .activite a {
    width: 100%;
    height: 270px;
    border: 2px solid rgb(250, 249, 249);
    border-radius: 10%;
} */
/* .activite img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin: auto;
    border-top-right-radius: 10%;
    border-top-left-radius: 10% ;
} */
/* .activite span {
    font-size: 10px;
} */
.activite-subtitle {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-bottom: 10px;
    }
#mot {
    display: none;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        }
    .main-container {
        padding: 0px;
        margin: 0px;
        width: 100%;
        }   
/****** Header ***********/
    .logo img {
        margin: auto;
        margin-top: 10px;
        width: 30%;
        }   
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        }
    .nav ul {
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0px;
        width: 100%;
        }
    .nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-decoration: none;
        border-top: none;
        text-align: center;
        width: 50%;
        border-bottom: #FFFFFF 3px solid;
        padding-bottom: 10px;
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        border-color: #eaebef46;
        }
    .nav ul li:hover {
        border-color: blue;
        border-top: none;
        }
    .nav ul li:active {
        border-color: #0065FC;
        }
/****** Post Header ***********/
    .marge {
        margin-left: 10px;
        }
    h1 {
        margin: 5px;
        font-size: 26px;
        }
    h2 {
        margin: 5px;
        }
    #p {
        font-size: 17px;
        }
    p {
        margin: 5px;
        font-size: 13px;
        margin-bottom: 15px;
        }
    form {
        margin: 5px;
        text-align: center;
        }
    .container-filtres {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 15px;
        gap: 5px;
        flex-wrap: wrap;
        }
    .contenu-filtre{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px;
        gap: 7px;
        }
    #economique, #familiale, #romantique, #pepite{
        border: 2px solid rgb(239, 239, 239);
        margin: 5px;
        gap: 10px;
        width: 160px;
        height: 30px;
        }
    #Rechercher {
        display: none;
        }
    #loupe {
        display: block;
        text-align: center;
        background-color: #0065FC;
        width: 30px;
        height: 20px;
        padding: 5px;
        border-radius: 25%;
        }
    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
        }
/****** Hebergements ***********/
    .hebergements {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        padding: 2px;
        padding-bottom: 30px;
        }
    #hebergemen.hebergements {
        background-color: white;
        }
    .hebergements-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        } 
    .card-1 {
        width: 100%;
        height: 250px;
        margin: auto;
        border-radius: 20px;
        padding: 5px;
        gap:20px;
        /* filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.1)); */
        }
    .card-1 img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        margin: auto;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 5px;
        }
    .card-title-1 {
        font-size: 14px;
        margin-top: 3px;
        }
    .card-subtitle-1 {
        font-size: 10px;
        margin-top: 5px;
        }
    .card-rating-1 {
        font-size: 10px;
        margin-top: 5px;
        }
/****** Populaires ***********/
    .populaires-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }
    .populaires {
        width: 100%;
        margin: auto;
        margin-top: 50px;
        }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
    .populaires-cards a {
        width: 100%;
        }
/****** Activités ***********/
.activite {
    width: 100%;
    }
.activites-cards{
    margin: auto;
    display: flex;
    flex-direction: column;
    }
.activite a {
    width: 90%;
    margin: auto;
    height: 280px;
    border: 2px solid rgb(250, 249, 249);
    border-radius: 20px;
}
.activite img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}
.activite-subtitle {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    }
#mot {
    display:block;
}
/****** Footer ***********/
    footer {
        display: flex;
        flex-direction: column;
        }

}